@model Men_Collection.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.name)
        </dd>
         <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Products.image)" alt="@Html.DisplayFor(model => model.Products.name)" height="80px" width="120px" class="rounded-circle">
        </dd>
        <dt class = "col-sm-2">
            Customer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
